:root {
    --color-tone-1: #1a1a1b;
    --color-tone-2: #787c7e;
    --color-tone-3: #878a8c;
    --color-tone-4: #d3d6da;
    --color-tone-5: #edeff1;
    --color-tone-6: #f6f7f8;
    --color-tone-7: #ffffff;
    --color-nav-hover: #f4f4f4;
    --opacity-50: rgba(255, 255, 255, 0.5);
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkGray: #939598;
    --white: #fff;
    --black: #212121;
    --orange: #f5793a;
    --blue: #85c0f9;
    --color-background: var(--color-tone-7);
    --color-present: var(--yellow);
    --color-correct: var(--green);
    --color-absent: var(--color-tone-2);
    --tile-text-color: var(--color-tone-7);
    --key-text-color: var(--color-tone-1);
    --key-evaluated-text-color: var(--color-tone-7);
    --key-bg: var(--color-tone-4);
    --key-bg-present: var(--color-present);
    --key-bg-correct: var(--color-correct);
    --key-bg-absent: var(--color-absent);
    --modal-content-bg: var(--color-tone-7);
}

.dark-theme {
    --color-tone-1: #d7dadc;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --color-nav-hover: #2f2f31;
    --opacity-50: rgba(0, 0, 0, 0.5);
    --color-background: var(--color-tone-7);
    --tile-text-color: var(--color-tone-1);
    --key-text-color: var(--color-tone-1);
    --key-evaluated-text-color: var(--color-tone-1);
    --key-bg: var(--color-tone-2);
    --modal-content-bg: var(--color-tone-6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-y: auto;
    overflow-x: hidden;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: var(--color-tone-1);
    border-bottom: 1px solid var(--color-tone-4);
    padding: 0 16px;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 4px;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 420px;
    margin: 10px auto;
}

.tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    user-select: none;
    transition: transform 0.25s ease-in-out;
}

.tile::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
}

#keyboard {
    height: 200px;
    margin: 0 8px;
    user-select: none;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.key {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: var(--key-bg);
    color: var(--key-text-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.key:last-of-type {
    margin: 0;
}

.key[data-state='correct'] {
    background-color: var(--key-bg-correct);
    color: var(--key-evaluated-text-color);
}

.key[data-state='present'] {
    background-color: var(--key-bg-present);
    color: var(--key-evaluated-text-color);
}

.key[data-state='absent'] {
    background-color: var(--key-bg-absent);
    color: var(--key-evaluated-text-color);
}

.key.fade {
    transition: background-color 0.1s ease, color 0.1s ease;
}

.key:hover {
    background-color: var(--key-bg-present);
}

.spacer {
    flex: 0.5;
}

.half {
    flex: 0.5;
}

.one {
    flex: 1;
}

.one-and-a-half {
    flex: 1.5;
    font-size: 12px;
}

.two {
    flex: 2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--opacity-50);
}

.modal-content {
    background-color: var(--modal-content-bg);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stat-item {
    flex: 1;
}

.stat-item > span:first-child {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    display: block;
}

.stat-item > span:last-child {
    font-size: 12px;
    line-height: 12px;
    display: block;
}

.share-btn {
    background-color: var(--green);
    color: var(--white);
    font-family: inherit;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    user-select: none;
    display: block;
    width: 80%;
    font-size: 20px;
    padding: 15px;
    margin: 20px auto 0;
}

.examples {
    border-bottom: 1px solid var(--color-tone-4);
    border-top: 1px solid var(--color-tone-4);
}

.example {
    margin-top: 24px;
    margin-bottom: 24px;
}

.example .row {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.example .tile {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    border: 2px solid var(--color-tone-4);
    margin-right: 4px;
}

.example .tile.correct {
    background-color: var(--color-correct);
    border-color: var(--color-correct);
}

.example .tile.present {
    background-color: var(--color-present);
    border-color: var(--color-present);
}

.example .tile.absent {
    background-color: var(--color-absent);
    border-color: var(--color-absent);
}

.distribution-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.distribution-bar span:first-child {
    width: 20px;
    text-align: right;
    margin-right: 5px;
}

.distribution-bar div {
    height: 20px;
    background-color: var(--color-absent);
    transition: width 0.5s ease-in-out;
}

@media (max-width: 480px) {
    #game-board {
        width: 100%;
        height: auto;
        aspect-ratio: 5 / 6;
    }

    .key {
        height: 50px;
    }

    .modal-content {
        width: 95%;
    }
}

@media (max-width: 360px) {
    .key {
        height: 45px;
        font-size: 0.8em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #game-board {
        width: 90%;
        max-width: 400px;
    }
}

@media (min-height: 700px) {
    #game-board {
        height: 450px;
    }
}
